.Button{
    box-sizing: border-box;
    vertical-align: top;
    border: 2px solid #1470cc;
    border-radius: 9999px;
    padding: 10px 12px;
    display: inline-block;
    min-width: 120px;
    background: #1470cc;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.Button.-bordered{
    background: #ffffff;
    color: #1470cc;
}

.Button:hover{
    opacity: 0.7;
}