.Form_row:not(:first-of-type){
    margin-top: 20px;
}

.Form_row input[type=text],
.Form_row textarea{
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Form_row input[type=checkbox]:not(:first-of-type){
    margin-left: 10px;
}

.Form_row textarea{
    resize: vertical;
}

.Form_error{
    font-size: 0.8rem;
    font-weight: bold;
    color: #cc4429;
    margin-bottom: 5px;
}