
.Header{
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.Header_title{
    flex-shrink: 0;
    width: 200px;
    background: #eee;
    font-size: 2rem;
    padding: 8px 12px;
}

.Header_nav{
    flex-grow: 1;
}

.Header_navList{
    display: flex;
    justify-content: flex-end;
}

.Header_navLink{
    padding: 8px 12px;
    text-align: center;
    color: #aaa; 
    transition: 0.3s;
}
.Header_navLink:hover{
    color: #333333;
}
