.Pager{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.Pager_item:not(:first-of-type){
    margin-left: 10px;
}

.Pager_link.-current{
    color: #333333;
    pointer-events: none;
}

